/* Google Fonts - Kaushan Script / Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*-- Body Reset --*/
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

/*============= TOP BAR HEADER =============*/
.top-bar {
  background: black;
  height: 2.8rem;
  padding: .5rem 0;
}

.top-bar a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}


/*============= NAVIGATION =============*/

.navbar-brand img {
  height: 3rem;
}

.navbar {
  font-size: 1.1rem;
  font-weight: 600;
  initial-letter: .1rem;
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 1);
  z-index: 1;
}

.nav-item {
  padding: .5rem;
}

.nav-link {
  color: black !important;
}

.nav-link.active,
.nav-link:hover {
  color: grey !important;
}

/*============= CAROUSEL =============*/

.carousel-caption {
  margin: -5%;
}

.carousel-inner {
  max-height: 38rem !important;
}

/*---Change Carousel Transition Speed --*/
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  transition: transform 1.5s ease;
}

/*-- Carousel Content --*/
.carousel-caption {
  position: absolute;
  top: 54%;
  transform: translateY(-50%);
  text-transform: uppercase;
}

.bg-custom {
  background-color: rgba(0, 0, 0, .4);
  color: white;
  border-radius: 1rem;
}

.carousel-caption h1 {
  font-size: 3.8rem;
  text-shadow: .1rem .1rem .3rem rgba(0, 0, 0, .1);
}

.border-primary {
  border-top: .2rem solid #4981b3 !important;
}

.carousel-caption h3 {
  font-size: 2.2rem;
  text-shadow: .1rem .1rem .2rem rgba(0, 0, 0, .1);
}

.btn-lg {
  border-radius: 0;
  text-transform: uppercase;
  font-size: 1rem;
  border-width: medium;
}

.contact-wrap {
  margin: 0 auto;
  color: rgb(0, 0, 0) !important;

}

.text-wrap {
  color: black;
  font-family: calibrilight !important;
  font-size: 15px !important;
}

#main-footer {
  background: white;
  text-align: center;
  margin-top: .05px;

}

.fixed-background {
  overflow: hidden;
}


section.contact {
  background-image: url("https://source.unsplash.com/WLUHO9A_xik/1900x900");
  background-repeat: no-repeat;
}

section.video {
  background-color: tan;
}

.wood-photo {
  margin: 0 auto;
}

.main-body {
  background-color: tan;
}

.banner {
  text-align: center;
}

.culture-text {
  text-align: 0 auto;
}

.dress-photo {
  margin: 0 auto;
}

/*============= CONTACT US =============*/




/*============= SOCKET =============*/

/*============= SECOND PAGE =============*/

.second-page .banner {
  background-color: #d2b48c;
  color: #000;
}

.second-page .banner h1 {
  font-family: "Kaushan Script";
  font-size: 5em;
  margin: 1em auto;
  letter-spacing: -2px;
}

.second-page .banner p {
  text-align: left;
}

.second-page .nav-item {
  padding: initial;
}

.tab-pane h1{
  font-family: "Kaushan Script";
  text-align: center;
  color: #000;
}

.card-img-top{
  min-height: 616px;
}

#payment{
  margin: 0 40px;  
}

.radio-cc-label{
  vertical-align: middle;
}

.ui-datepicker-calendar {
  display: none;
  }


/*============= MEDIA QUERIES =============*/

/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {}

/* Devices under 768px (md) */
@media (max-width: 767.98px) {}